extends layout
//ここでも、 extends を使って　layout を使いまわしている   https://pugjs.org/language/extends.html  を参照しましょうね。
block content
  h1= title
  p Welcome to #{title}
  if user
    p Hello, #{user.username}
    a(href="/logout") Logout
  else
    a(href="/login") Login
