extends layout

block content
  h1= title
  p Welcome to #{title}
  //- ユーザーデータが設定されている場合（ログイン中）は
  //- ログアウトページへのリンクを表示し、
  //- ログインしていない場合はログインページへのリンクを表示する
  if user
    p Hello, #{user.username}
    a(href="/logout") Logout
  else
    a(href="/login") Login
